body {
    background-color: #f2722b;
    background-image: url('../images/image-1.jpg');
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    color: white;
    height:100%;
    text-align:center;
    font-size:18px;
  }

#button, input, optgroup, select, textarea {
  color: black;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
  color: #94d449;
}

.container {
  margin: 200px auto !important;
  width: 500px !important;
  font-size: 15px;
  background-color: #f2722b;
  text-align: center;
  position: relative;
  margin-top: 50%;
}

